html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: 'Odibee Sans',
		cursive;

	background: #1e1e1e;
}

ul,
h1,
h2,
h3,
h5,
h4,
h6,
ol {
	padding: 0;
	margin: 0;
}

.page {
	padding-top: 25rem;
}

.card {
	position: relative;
	display: block;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out 0.5s;
}
/* .card:hover {
	box-shadow: 0 0.1rem 1.5rem 0  rgba(0, 0, 0, 0.3);
} */
.card-face {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem; 
	transition: all 0.5s ease-in-out;
	background: #1e1e1e;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}
.card-content {
	position: relative;
	z-index: 2;
	min-height: 211px;
	padding: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transform: translateY(-100%);
	opacity: 0.5;
	box-sizing: border-box;
	background: #fff;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}
.card-face__img {
	width: 100px;
}

.card-face__title {
	padding-top: 1.5rem;
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	color: #fff;
}

.card-content__text {
	font-size: 1.2rem;
}

.card-content__button {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
}
.row,
.col-md-4 {
	transition: all 0.5s;
}

.card-content__button--white {
	border: 1px solid #1e1e1e;
	border: #ceccce;
}

.card-content__button--white:hover {
	border-color: #ceccce;
	background: #1e1e1e;
	color: #fff;
}


.card:hover .card-face {
	background: rgb(150, 22, 82);
	box-shadow: none 
}

.card:hover .card-face {
	transform: translateY(-50%);
}

.card:hover .card-content {
	opacity: 1;
	transform: translateY(-50%);
}

